form.azbn7__socket-io-form
	div.form-group
		textarea.form-control.azbn7__chat-texts
	div.form-group
		input.form-control.azbn7__chat-input(type="text")
	div.form-group
		button.btn.btn-success.azbn7__chat-btn Отправить