html
	include _/head
	body
		include _/header
		div.container-fluid
			div.row
				div.col-8
					div.form-group
						label Введите название папки относительно /json/
						input.form-control.azbn7__list-change-input(placeholder="Путь до нужной папки" value="")
					hr
					pre.azbn7__files-viewer
				div.col-4
					include _/socket_chat
		include _/footer